@import '~normalize.css/normalize.css';
@import '~antd/dist/antd.less';

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 10s linear;
  }
}

.rotate-mixin(@deg) {
  transform: rotate(@deg);
}

.keyframes(@name, @from, @to) {
  @frames: {
    from {
      @from();
    }
    to {
      @to();
    }
  };
  @keyframes @name {
    @frames();
  }
}

.keyframes(App-logo-spin, { .rotate-mixin(0deg) }, { .rotate-mixin(360deg) });
